**/.ipynb_checkpoints
**/02_numpy_matplotlib/01_zadanie domowe.ipynb
**/09_liczby_binarne/Zadanie domowe.ipynb
**/10_bramki_logiczne/Zadanie domowe.ipynb
**/12_css/Zadanie_domowe.md
**/13_javascript/Zadanie_domowe.md
