**/.ipynb_checkpoints
**/02_numpy_matplotlib
**/03_04_analiza_sygnalow
**/05_analiza_ssvep
**/06_potencjaly_wywołane
**/07_mruganie
**/08_zbieranie_danych
**/09_liczby_binarne
**/10_bramki_logiczne
**/11_html
**/12_css
**/13_javascript
**/14_dodatkowe
